In [1]:
import os
import pandas as pd
import numpy as np
import os
import glob
import glob2
import pathlib
import re
import pyperclip
import email

In [2]:
dataset_directory = "./emails/"
dataset_pathlib = pathlib.Path(dataset_directory)
all_items_in_dir = dataset_pathlib.rglob("*")
all_files_pathlib = [f for f in list(all_items_in_dir) if f.is_file()]
df = pd.DataFrame(columns=['id', 'date', 'from', 'to', 'cc', 'bcc'])

In [8]:
for i, k in enumerate(all_files_pathlib):
    with open(k, 'r', encoding='windows-1252') as file_reader:
        msg = email.message_from_string(file_reader.read())
        # Fields of the email
        email_ID = msg["Message-ID"]
        date = msg["Date"]
        from_email = msg["From"]
        to = msg["To"]
        cc = msg["Cc"]
        bcc = msg["Bcc"]

        if not to: continue

        to = to.replace(" \n\t", "").replace(" ", "")

        date = re.search(r'\w+, (\d{1,2} \w{3} \d{4})', date).group(1)
        email_ID = re.search(r'<(.+).JavaMail.evans@thyme>', email_ID).group(1)
        if cc:
            cc = cc.replace(" \n\t", "").replace(" ", "")
        if bcc:
            bcc = bcc.replace(" \n\t", "").replace(" ", "")

        result = {
            "id": email_ID,
            "date": date,
            "from": from_email,
            "to": to,
            "cc": cc,
            "bcc": bcc
        }
        temp = pd.DataFrame(
            {
                'id': result['id'],
                "date": result['date'],
                "from": result["from"],
                "to": result["to"],
                "cc": result["cc"],
                "bcc": result["bcc"]
            },
            index=[0])
        df = pd.concat([df, temp])
        if i % 1000 == 0:
            print(i)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
36000
37000
38000
39000
40000
41000
42000
43000
44000
46000
47000
48000
49000
50000
51000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
169000
170000
171000
172000
173000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
249000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000
261000
262000
263000
264000
265000
266000
267000
268000
269000
270000
271000
272000
273000
274000
275000
276000
277000
278000
279000
280000
281000
282000
283000
284000
285000
286000
287000
288000
289000
290000
291000
292000
293000
294000
295000
296000
297000
298000
299000
300000
301000
302000
303000
304000
305000
306000
307000
308000
309000
310000
311000
312000
313000
314000
315000
316000
317000
318000
319000
320000
321000
322000
324000
326000
327000
328000
329000
330000
332000
333000
334000
335000
336000
337000
338000
339000
340000
341000
342000
343000
345000
346000
347000
348000
349000
350000
351000
352000
353000
354000
355000
356000
357000
358000
359000
360000
361000
362000
363000
364000
365000
366000
367000
368000
369000
370000
371000
372000
373000
374000
375000
376000
377000
378000
379000
380000
381000
382000
383000
384000
385000
386000
387000
388000
389000
391000
392000
393000
394000
395000
396000
397000
398000
399000
400000
401000
402000
403000
404000
405000
406000
407000
408000
409000
410000
411000
412000
413000
415000
416000
417000
418000
419000
420000
421000
422000
423000
424000
425000
426000
427000
428000
429000
430000
431000
432000
433000
434000
435000
436000
438000
439000
440000
441000
442000
443000
444000
445000
446000
447000
448000
449000
451000
452000
453000
454000
455000
456000
457000
458000
459000
460000
461000
462000
463000
464000
465000
466000
467000
468000
469000
470000
471000
472000
473000
474000
475000
476000
478000
479000
480000
481000
482000
484000
485000
486000
487000
488000
489000
490000
491000
492000
493000
494000
495000
496000
497000
498000
499000
500000
501000
503000
504000
505000
508000
509000
510000
511000
512000
513000
514000
515000
516000
517000

In [9]:
df.to_csv("./dataset.csv")

In [3]:
df = pd.read_csv("./dataset.csv")

In [76]:
emp_names = [
    "Phillip Allen", "John Arnold", "harry.arora", "Robert Badeer",
    "Susan Bailey", "Eric Bass", "Don Baughman", "Sally Beck", "Robert Benson",
    "Lynn Blair", "Sandra Brawner", "Rick Buy", "Larry Campbell",
    "Mike Carson", "Michelle Cash", "Monika Causholli", "Shelley Corman",
    "Sean Crandall", "Martin Cuilla", "Jeff Dasovich", "Dana Davis",
    "Craig Dean", "David Delainey", "James Derrick", "Stacy Dickson",
    "Lindy Donoho", "Tom Donohoe", "Chris Dorland", "Frank Ermis",
    "Daren Farmer", "Mary Fischer", "John Forney", "Drew Fossum", "Lisa Gang",
    "Randall Gay", "Tracy Geaccone", "Chris Germany", "doug.gilbert-smith",
    "Darron Giron", "john.griffith", "mike.grigsby", "Mark Guzman",
    "Mark Haedicke", "Mary Hain", "Steven Harris", "Rod Hayslett",
    "Marie Heard", "Scott Hendrickson", "Juan Hernandez", "John Hodge",
    "Keith Holst", "Stanley Horton", "Kevin Hyatt", "Dan Hyvl", "Tana Jones",
    "Vince Kaminski", "Steven Kean", "Peter Keavey", "Kam Keiser", "Jeff King",
    "Louise Kitchen", "Tori Kuykendall", "John Lavorato", "Kenneth Lay",
    "Matthew Lenhart", "Andrew Lewis", "Eric Linder", "Michelle Lokay",
    "Teb Lokey", "Phillip Love", "Paul Lucci", "mike.maggi", "Kay Mann",
    "Thomas Martin", "larry.may", "Danny McCarty", "Mike McConnell",
    "brad.mckay", "Jonathan Mckay", "Errol McLaughlin", "steven.merris",
    "Albert Meyers", "l..mims", "matt.motley", "Scott Neal", "Gerald Nemec",
    "Stephanie Panus", "Joe Parks", "Susan Pereira", "Debra Perlingiere",
    "Vladi Pimenov", "Phillip Platter", "Kevin Presto", "Joe Quenet",
    "Dutch Quigley", "Bill Rapp", "Jay Reitmeyer", "Cooper Richey",
    "Andrea Ring", "Richard Ring", "Robin Rodrigue", "Benjamin Rogers",
    "Kevin Ruscitti", "Elizabeth Sager", "Eric Saibi", "Holden Salisbury",
    "Monique Sanchez", "Richard Sanders", "Diana Scholtes",
    "Darrell Schoolcraft", "Jim Schwieger", "Susan Scott", "Cara Semperger",
    "Sara Shackleton", "Jeffrey Shankman", "Richard Shapiro", "Hunter Shively",
    "jeff.skilling", "Ryan Slinger", "Matt Smith", "Geir Solberg",
    "steven.south", "Theresa Staab", "Carol Clair", "James Steffes",
    "Joe Stepenovitch", "Chris Stokley", "geoff.storey", "Fletcher Sturm",
    "Mike Swerzbin", "Kate Symes", "Mark Taylor", "Jane Tholt", "Paul Thomas",
    "Judy Townsend", "Barry Tycholiz", "Kim Ward", "Kimberly Watson",
    "Charles Weldon", "Greg.Whalley", "Stacey White", "Mark Whitt",
    "Jason Williams", "bill.williams", "Jason Wolfe", "Paul Y'Barbo",
    "Andy Zipper", "John Zufferli"
]

In [77]:
emp_test = [x.replace(" ",".").lower() for x in emp_names]

In [81]:
emp_emails = [x.lower().replace(" ", ".") + "@enron.com" for x in emp_names]

In [78]:
for i in emp_test:
    rez = df[df["from"].str.contains(i)].count()[0]
    if rez == 0:
        print(i)

In [72]:
df[df["from"].str.contains("arora")]

,Unnamed: 0,id,date,from,to,cc,bcc
7841,0,6.429009e+06,15 Dec 2000,harry.arora@enron.com,yolanda.roberts@enron.com,NaN,NaN
7844,0,1.414838e+07,31 Dec 1979,harry.arora@enron.com,pushkar.shahi@enron.com,NaN,NaN
7848,0,1.915876e+07,5 Jan 2001,harry.arora@enron.com,suresh.raghavan@enron.com,NaN,NaN
7856,0,1.513552e+07,22 Jan 2001,harry.arora@enron.com,dave.samuels@enron.com,NaN,NaN
7878,0,3.148405e+06,6 Feb 2001,harry.arora@enron.com,"leonardo.pacheco@enron.com,carlos.alatorre@enr...",NaN,NaN
...,...,...,...,...,...,...,...
350954,0,1.045416e+07,8 Jan 2002,harry.arora@enron.com,m..presto@enron.com,NaN,NaN
484464,0,3.215623e+07,22 Oct 2001,harry.arora@enron.com,w..white@enron.com,NaN,NaN
484957,0,2.338933e+07,8 Jan 2002,harry.arora@enron.com,"louise.kitchen@enron.com,w..white@enron.com,ja...",john.lavorato@enron.com,john.lavorato@enron.com
494563,0,2.320030e+07,5 Jun 2001,harry.arora@enron.com,"savita.puthigai@enron.com,andy.zipper@enron.co...",NaN,NaN
495093,0,1.624495e+07,23 Feb 2001,harry.arora@enron.com,"andy.zipper@enron.com,dave.samuels@enron.com",NaN,NaN

In [9]:
with open("output.txt", 'w') as f:
    w = df[df["from"].str.contains("@enron.com")]["from"].unique().tolist()
    f.write(str(w))

In [20]:
list_of_all_emps = next(os.walk('./emails/'))[1]

In [22]:
for i, k in enumerate(list_of_all_emps):
    list_of_all_emps[i] = k.split('-')[0]

In [33]:
ddd = df[df["from"].str.contains("@enron.com")]

In [24]:
pattern = "|".join(list_of_all_emps)

In [34]:
upd = ddd[ddd["from"].str.contains(pattern)]["from"].unique().tolist()

In [35]:
with open("output.txt", 'w') as f:
    # w = df[df["from"].str.contains("@enron.com")]["from"].unique().tolist()
    f.write(str(upd))

In [37]:
len(upd)

832